### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Kotlin/Native ###
.kotlin/

### Local config ###
local.properties

### Android Studio / IntelliJ ###
.idea/
*.iml
*.ipr
*.iws
captures/
.navigation/
.externalNativeBuild/
.cxx/

### Xcode ###
iosApp/**/xcuserdata/
iosApp/**/*.xcuserstate
iosApp/**/DerivedData/
iosApp/**/*.xcworkspace/xcuserdata/
iosApp/Pods/

### OS ###
.DS_Store
Thumbs.db
